* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.trescolumnas{
	border: 1px solid black;
	/* Para tener 3 columnas */
	column-count: 3;
	-webkit-column-count: 3;
	/* Para centrar el cuadro */
	margin: 20px auto;
	width: 80%;
}

/* Para poner los bordes rojos */
.bordes {
	column-rule: 5px red solid;
	-webkit-column-rule: 5px red solid;
	column-gap: 40px;
}
/* Para eliminar la propiedad de 3 columnas a un parrafo de texto */
.span {
	column-span: all;
	-webkit-column-span: all;
}
/*Pra generar un pequeño espacio del borde al parrafo */
p {
	padding: 0.5em;
}
/* Para amoldar bien la imagen al terreno */
img {
	width:100%;
}