* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container {
	background-color: lightgrey;
	overflow-y: auto; /*height: 900px;*/
	margin: 20px auto;
	width: 90%;
	padding: 20px;
}

.sidebar {
	background-color: yellow;
	height: 600px;
	width: 25%;
	float: left;
}

article {
	background-color: red;
	height: 300px;
	width: 20%;
	float: left;
	margin-left: 5%;
}

footer {
	background-color: blue;
	height: 290px;
	width: 70%;
	float: left;
	margin-top: 10px;
	margin-left: 5%;
}