table{
	border-collapse:collapse;
}

caption {
	background-color: pink;
	color: green;
	font-size: 18px;
}

table, td {
	border: 1px solid pink;
	text-align: center;
}

tr td:first-child {
	background-color: pink;
	font-size: 18px;
	color: green;
}

tr:nth-child(5) td:nth-child(2){
	background-color: lightgreen;
}

a:link {
	text-decoration: none;
	color:green;
}

a:visited {
	text-decoration: none;
	color:violet;
}

tr td:nth-child(6):hover, tr td:last-child:hover{
	background-color: grey;
	color:green;
}

tr td p:first-letter{
	font-size: 2em;
}

input:required{
	border: 1px solid red;
	padding: 10px;
}

label::after{
	color: red;
	content:"*";
	vertical-align: super;
}

input[type="button"]{
	background-color: lightgreen;
	color: grey;
}